Django==1.9.8
django-debug-toolbar==1.4
django-websocket-redis==0.4.6
future==0.15.2
geopy==1.11.0
gevent==1.1.1
gpsoauth==0.3.0
greenlet==0.4.10
gunicorn==19.6.0
protobuf>=3.0.0a3
protobuf-to-dict==0.1.0
pycryptodomex==3.4.2
redis==2.10.5
requests==2.10.0
s2sphere==0.2.4
six==1.10.0
sqlparse==0.1.19
uWSGI==2.0.13.1
whitenoise==3.2
wsaccel==0.6.2
dj-database-url
psycopg2
git+https://github.com/tejado/pgoapi.git